<!-- src/app/read/read.component.html -->

<h2>chambers List</h2>

<button (click)="goToAdd()">Add chamber</button>

<table>
  <tr>
    <th>numeroChambre</th>
    <th>typeChambre</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let chambre of chambres">
    <td>{{ chambre.numeroChambre }}</td>
    <td>{{ chambre.typeChambre }}</td>
    <td>
      <button (click)="goToUpdate(chambre.idChambre)">Update</button>
      <button (click)="delete(chambre.idChambre)">Delete</button>
    </td>
  </tr>
</table>
