<!-- src/app/update/update.component.html -->

<h2>Update University</h2>

<form (submit)="updateChambre()">
  <div>
    <label for="numeroChambre">numeroChambre:</label>
    <input type="text" id="numeroChambre" [(ngModel)]="chambre.numeroChambre" name="numeroChambre" required>
  </div>
  <div>
    <label for="typeChambre">typeChambre:</label>
    <input type="text" id="typeChambre" [(ngModel)]="chambre.typeChambre" name="typeChambre" required>
  </div>
  <button type="submit">Update</button>
</form>
